<div class="container">
    <div class="row">
        <div class="col-md">
            <app-employee-input (previewRequest)="handlePreviewRequest($event)"></app-employee-input>
        </div>
        <div class="col-md">
            <app-cost-preview [previewState]="costPreview$ | async"></app-cost-preview>
        </div>
    </div>
</div>