<div class="alert alert-danger" *ngIf="previewState?.errored">
    An error occured while calculating the benefits cost preview.
</div>
<div class="card" *ngIf="previewState?.previewData">
    <h4 style="text-align: center;">Benefits Cost Preview</h4>    
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Person</th>
                <th scope="col">Discount</th>
                <th scope="col">Benefits Cost</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{previewState.previewData.employee}}</td>
                <td>{{previewState.previewData.employeeDiscount | currency : USD}}</td>
                <td>{{previewState.previewData.employeeBenefitsCost | currency : USD}}</td>
            </tr>
            <ng-container *ngIf="previewState?.previewData?.dependentCostPreviews">
                <tr *ngFor="let dependent of previewState.previewData.dependentCostPreviews">
                    <td>{{dependent.dependent}}</td>
                    <td>{{dependent.dependentDiscount | currency : USD}}</td>
                    <td>{{dependent.dependentBenefitsCost | currency : USD}}</td>
                </tr>
            </ng-container>
        </tbody>
        <tfoot>
            <tr>
                <th scope="row">Total Benefits Cost</th>
                <td></td>
                <td>{{previewState.previewData.benefitsCostTotal | currency: USD}}</td>
            </tr>
            <tr>
                <th scope="row">Base Pay</th>
                <td></td>
                <td>{{previewState.previewData.basePay | currency: USD}}</td>
            </tr>
            <tr>
                <th scope="row">Pay After Benefits</th>
                <td></td>
                <td>{{previewState.previewData.payAfterBenefits | currency: USD}}</td>
            </tr>
        </tfoot>
    </table>
</div>
