<form [formGroup]="form" class="card p-3">
    <div class="row">
        <div class="col">
            <label for="employee">Employee</label>
            <input type="text" formControlName="employee" class="form-control" required />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col" formArrayName="dependents">
            <div class="row">
                <div class="col">
                    <label>Dependents</label>
                </div>
            </div>
            <div class="row align-items-center py-1" *ngFor="let dependent of dependents.controls; index as i">
                <div class="col">
                    <input type="text" formControlName="{{i}}" class="form-control" required/>
                </div>
                <div class="col-auto">
                    <button class="btn btn-sm btn-info" (click)="removeDependent(i)">Remove</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-secondary" (click)="addDependent()">Add Dependent</button>
        </div>
        <div class="col-auto">
            <button class="btn btn-primary" (click)="previewClicked()" [disabled]="!form.valid">Preview Costs</button>
        </div>
    </div>
</form>
